* {
  box-sizing: border-box;
}

/* Page header ---------------------- */
.page-header {
  position: relative;

  width: 100vw;
  height: 100vh;
  min-height: 930px;

  background-color: #424242;
}

.page-header__top {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 100;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1170px;

  transform: translateX(-50%);
}

.burger__wrap {
  display: none;
  width: 30px;
  height: 52px;
  padding-top: 26px;
  cursor: pointer;
}

.burger {
  position: relative;

  width: 30px;
  height: 3px;

  background-color: #ffffff;
  box-shadow: 0 0 3px 0px rgba(190,190,190, 0.3);
  transition: .5s;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;

  width: 30px;
  height: 3px;

  background-color: #ffffff;

  transition: .5s;
}

.burger::before {
  top: -10px;
}

.burger::after {
  top: 10px;
}

.burger.burger--active {
  background-color: transparent;
  box-shadow: 0 0 0px 0px rgba(190,190,190, 0.3);
  transition: 0.5s;
}

.burger.burger--active::before {
  top: 0;

  transform: rotate(-225deg);

  transition: 0.5s;
}

.burger.burger--active::after {
  top: 0;

  transform: rotate(45deg);

  transition: 0.5s;
}

.logo {
  display: flex;
  width: 141px;
  height: 52px;
  background-color: #f4f5f9;

  text-transform: uppercase;
}

.logo__first-char {
  display: block;
  width: 53px;
  height: 100%;
  padding-left: 17px;

  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  font-family: "open_sansbold";
  color: #373941;

  background-color: #f4f5f9;
}

.logo__other-char {
  display: block;
  width: 86px;
  height: 52px;
  padding-left: 12px;

  font-size: 36px;
  line-height: 48px;
  font-family: "open_sanslight";
  color: #f4f5f9;

  background-color: #373941;
  border: 2px solid #f4f5f9;
}

.page-nav {
  min-width: 730px;
  height: 52px;
}

.page-nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-nav__item {
  height: 100%;

  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.page-nav__item:hover {
  border-bottom: 1px solid #e74c3c;
}

.page-nav__item:hover .page-nav__link {
  color: #e74c3c;
}

.page-nav__link {
  display: block;
  height: 100%;
  padding-top: 20px;

  font-size: 14px;
  line-height: 1.2;
  font-family: "open_sansregular";
  color: #f4f5f9;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.slider {
  position: relative;

  width: 100vw;
  height: 100vh;
  min-height: 930px;
  overflow: hidden;
}

.btn {
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider__control {
  position: absolute;
  top: 434px;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: #716b65;
  border-radius: 3px;
}

.slider__control svg path {
  fill: #3c3530;
}

.slider__control-prev {
  left: 50px;
}

.slider__control-next {
  right: 50px ;
}

.slider__control--disabled {
  pointer-events: none;
}

.slider__control:hover svg path,
.slider__control:active svg path {
  fill: #f4f5f9;
}

.slider__control:hover,
.slider__control:active {
  background-color: #e74c3c;
  cursor: pointer;
}

.slider__items {
  position: absolute;
  left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 99999px;
  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  width: 100vw;
  height: 100%;
}

.slide-content {
  position: relative;

  width: 100%;
  height: 100%;
  padding-top: 325px;

  background: url("../img/page-header-background.jpg") no-repeat 0 0;
  background-size: cover;
}

.slide-content__slogan {
  margin: 0;

  font-size: 24px;
  line-height: 1;
  font-family: "source_sans_proregular";
  text-align: center;
  color: #f4f5f9;
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.slide-content__title {
  margin-top: 34px;
  margin-bottom: 85px;
  padding-left: 14px;

  font-size: 72px;
  line-height: 1;
  font-family: "open_sansbold";
  text-align: center;
  color: #f4f5f9;
  text-transform: uppercase;
  letter-spacing: 7.5px;
}

.slide-content__decor-dot {
  position: absolute;
  top: 490px;
  left: 50%;

  width: 7px;
  height: 7px;

  background-color: #ff3344;
  border-radius: 50%;
  transform: translateX(-50%);
}

.slide-content__decor-dot::before,
.slide-content__decor-dot::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 80px;
  height: 1px;

  background-color: #f1ebe7;
  transform: translateY(-50%);
}

.slide-content__decor-dot::before {
  left: -94px;
}

.slide-content__decor-dot::after {
  right: -94px;
}

.slide-content__desc {
  width: 600px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 24px;
  font-family: "open_sansregular";
  text-align: center;
  color: #cbc6c0;
  text-transform: unset;
}

.slide-content__btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin: 0 auto;
  margin-top: 62px;
}

.slide-content__btn-start,
.slide-content__btn-more {
  width: 225px;
  height: 55px;

  font-size: 14px;
  line-height: 55px;
  font-family: "open_sansbold";
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
}

.slide-content__btn-start {
  background-color: #e74c3c;
}

.slide-content__btn-more {
  background-color: transparent;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 1200px) {
  .page-header__top {
    width: 95%;
  }
  .slider__control {
    top: 530px;
  }
}

@media screen and (max-width: 920px) {
  .page-header__top {
    align-items: center;
    width: 95%;
  }

  .burger__wrap {
    display: block;
  }

  .page-nav {
    display: none;
  }

  .page-nav--show {
    display: block;
    width: 300px;
  }

  .page-nav--show .page-nav__items {
    position: absolute;
    top: 52px;
    right: 2.5%;

    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 250px;

    background-color: #999999;
  }

  .page-nav--show .page-nav__item {
    height: 20px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 809px) {
  .slide-content__title {
    font-size: 58px;
  }

  .slide-content__desc {
    width: 70%;
  }
}


@media screen and (max-width: 682px) {
  .slide-content__decor-dot {
    top: 545px;
  }
}

@media screen and (max-width: 480px) {
  .page-nav--show .page-nav__items {
    right: 0;

    width: 100%;
  }

  .slider__control {
    top: 400px;
  }

  .slide-content {
    padding-top: 200px;
  }

  .slide-content__title {
    font-size: 50px;
  }

  .slide-content__decor-dot {
    top: 420px;
  }

  .slide-content__btn-wrapper {
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 130px;
    margin-top: 40px;
  }
}


/* Page header end ---------------------- */



/* Blog -------------------------- */

.blog {
  width: 100%;
}

.blog__grid-items {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.blog__grid-item {
  flex: 0 0 960px;
}

.post {
  display: flex;
}

.post__img {
  width: 480px;
  height: 480px;
}

.post__desc {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 480px;
  height: 480px;
  padding: 65px 49px;

  color: #ffffff;

  background-color: #df5748;
}

.post__desc::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;

  border: 30px solid transparent;
  border-right: 30px solid #df5748;
  transform: translateY(-50%);
}

.post--reverse .post__desc::after {
  right: -60px;
  left: unset;

  border-right-color: transparent;
  border-left: 30px solid #df5748;
}

.post__tag {
  font-size: 14px;
  line-height: 1.2;
  font-family: "open_sansregular";
  letter-spacing: 0.5px;
}

.post__title {
  position: relative;

  margin-top: 26px;
  margin-bottom: 45px;

  font-size: 24px;
  line-height: 1.2;
  font-family: "source_sans_prosemibold";
  letter-spacing: 1px;
}

.post__title::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;

  width: 42px;
  height: 4px;

  background-color: #ffffff;
}

.post__content-text {
  font-size: 16px;
  line-height: 30px;
  font-family: "open_sansregular";
}

.post__btn-more {
  margin-top: 26px;

  font-size: 18px;
  line-height: 24px;
  font-family: "source_sans_proSBdIt";
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.8px;
  max-width: 110px;
}

.post__btn-more:hover {
  text-decoration: underline;
}

.post--reverse {
  flex-direction: row-reverse;
}

@media screen and (min-width: 1920px) {
  .blog {
    background-color: rgba(190,190,190, 0.3);
    background-color: #df5748;
  }

  .blog__grid-items {
    width: 1920px;
    margin: 0 auto;

    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.3);
  }
}

@media screen and (max-width: 1919px) {
  .blog__grid-items {
    flex-wrap: wrap;
    width: 100%;
  }

  .blog__grid-item {
    flex: 0 0 50%;
    width: 50%;
  }

  .post {
    position: relative;
  }

  .post__img {
    width: 50%;
  }

  .post__desc {
    width: 50%;
  }
}

@media screen and (max-width: 1600px) {
  .post__desc,
  .post__img {
    height: 430px;
  }

  .post__desc {
    width: 50%;
    padding-top: 5%;
    padding-right: 25px;
  }

  .post__title {
    margin-top: 18px;
    margin-bottom: 35px;

    font-size: 20px;
  }

  .post__content-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 1280px) {
  .post__img {
    width: 100%;
    height: auto;
  }

  .post__desc {
    display: none;
    padding: 65px 49px;
    padding-top: 5vw;
  }

  .post:hover .post__desc {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 100%;
  }

  .post__desc::after {
    display: none;
  }

  .post__title {
    margin-top: 26px;
    margin-bottom: 35px;

    font-size: 26px;
  }

  .post__content-text {
    font-size: 18px;
  }

  .post__btn-more {
    margin-top: 22px;

    font-size: 20px;
  }
}

@media screen and (max-width: 860px) {
  .post__desc,
  .post__img {
    height: 340px;
  }

  .post__desc {
    padding: 25px 15px;
  }

  .post__title {
    margin-top: 9px;
    margin-bottom: 5px;

    font-size: 20px;
  }

  .post__title::after {
    top: 30px;

    width: 30px;
  }

  .post__content-text {
    font-size: 13px;
  }

  .post__btn-more {
    margin-top: 5px;

    font-size: 16px;
  }
}

@media screen and (max-width: 590px) {
  .blog__grid-item {
    flex: 0 0 100%;
    width: 100%;
  }

  .post,
  .post__img {
    width: 100%;
    height: 430px;
  }

  .post__desc {
    padding: 65px 49px;
    padding-top: 5vw;
  }

  .post__title {
    margin-top: 26px;
    margin-bottom: 35px;

    font-size: 26px;
  }

  .post__title::after {
    top: 40px;

    width: 42px;
  }

  .post__content-text {
    font-size: 16px;
  }

  .post__btn-more {
    margin-top: 22px;

    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .post__title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .post__content-text {
    font-size: 14px;
  }
}


/* Blog end ---------------------- */


/* Promo ---------------------- */

.promo {
  width: 100%;
  height: 480px;
  padding-top: 143px;

  background: #424242 url("../img/promo-bg.jpg") no-repeat 0 0 / cover;
}

.promo__title {
  margin: 0 auto 13px;
  margin-left: -28px;

  font-size: 36px;
  line-height: 1.3;
  font-family: "open_sansregular";
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}

.promo__title strong {
  font-family: "open_sansbold";
}

.promo__desc {
  font-size: 18px;
  line-height: 30px;
  font-family: "open_sansregular";
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
}


.promo__btn {
  display: block;
  width: 225px;
  height: 55px;
  margin: 70px auto 0;

  font-size: 14px;
  line-height: 55px;
  font-family: "open_sansbold";
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #e74c3c;
  border-radius: 3px;
}

@media screen and (max-width: 920px) {
  .promo__title {
    font-size: 34px;
  }

  .promo__desc {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 580px) {
  .promo {
    padding-top: 100px;
  }

  .promo__title {
    margin-left: 0;
    font-size: 32px;
  }

  .promo__btn {
    margin-top: 35px;
  }
}

@media screen and (max-width: 460px) {
  .promo {
    padding-top: 70px;
  }
}


/* Promo end ---------------------- */


/* Footer ---------------------- */

.page-footer {
  position: relative;

  width: 100%;
  height: 90px;

  background-color: #202020;
}

.page-footer__go-to-top {
  position: absolute;
  top: -26px;
  right: 50px;

  width: 52px;
  height: 52px;

  background-color: #e74c3c;
  border-radius: 50%;
  cursor: pointer;
}

.page-footer__go-to-top::before,
.page-footer__go-to-top::after {
  content: "";
  position: absolute;
  top: 25px;

  width: 14px;
  height: 2px;

  background-color: #ffffff;
}

.page-footer__go-to-top::before {
  left: 14px;

  transform: rotate(-45deg);
}

.page-footer__go-to-top::after {
  right: 14px;

  transform: rotate(45deg);
}

.page-footer__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 290px;
}

.social__link svg path {
  fill: #999999;
}

.social__link:hover svg path {
  fill: #e74c3c;
}

.copyright {
  font-size: 14px;
  font-family: "open_sanssemibold";
  color: #999999;
  text-transform: capitalize;
}

@media screen and (max-width: 1220px) {
  .page-footer__inner {
    width: 95%;
  }
}

@media screen and (max-width: 580px) {
  .page-footer {
    height: 110px;
  }

  .page-footer__inner {
    flex-direction: column;
    justify-content: center;
  }
  .copyright {
    margin-top: 10px;
  }
}


/* Footer end ---------------------- */
